

.link {
    color: rgb(102,101,132);
}

td {
    border: 2px;
    border-color: RGB(92, 107, 123);
    border-style: solid;
    background-color: RGB(92, 107, 123);
}
table {
    width: 650px;
    text-align: center;
}
#nagy {
    width: 600px;
    margin: auto;

}

#kep {
    margin: auto;
}